<h3 class="text-center">Lista de tartas</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cake of cakes" [ngClass]="{'clearance': cake.clearance}">
            <td><img width="200" class="img-thumbnail"
                [src]="cake.image" [alt]="cake.name"></td>
            <td>{{cake.name }}</td>
            <td>{{cake.price | currency}}</td>
            <td>
                   <span class="badge badge-dark" *ngIf="cake.stock==0">SIN STOCK</span>
                   <div>
                       <span class="badge badge-success" *ngIf="cake.stock!=0">DISPONIBLE</span> 
                       <span class="badge badge-info" *ngIf="cake.clearance">OFERTA</span>
                   </div>
                     
            </td>
            <td>
               <app-input-integer [(quantity)]="cake.quantity" [max]="cake.stock" (maxReached)="maxReached($event)" *ngIf="cake.stock" ></app-input-integer>
            </td>
            <td>
                <button class="btn btn-outline-dark" (click)="addToCart(cake)" *ngIf="cake.stock!=0">Agregar</button>
            </td>
               
        </tr>
    </tbody>
</table>